form{
    margin: 2em;
    padding: 2em;
}

.mensagem{
    background-color: burlywood;
    border: solid 1px red;
}

table, td, th{
    border: solid 1px black;
    border-collapse: collapse;
}

nav{

}

.oculto{

}

.modal{

}

.modal input{

}

.modal label{

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.centralizar{
    margin: 25px auto;
    width: 20%;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}